<%- include("partials/header") %>

<div class="text-center py-5">
  <h1 class="fw-bold" style="color:#5A2FCD; font-size:3rem;">
    Organization is Key.
  </h1>
  <p class="mt-3" style="font-size:1.2rem; color:#5A2FCD99;">
    Track your assignments effortlessly.
  </p>

  <a href="/assignments" class="btn btn-primary btn-lg mt-4 px-5 py-2">
    View Assignments
  </a>
</div>

<%- include("partials/footer") %>
